:root {
    --light-blue: #3882F6;
    --dark-blue: #1F2937;
    --gray: #E5E7EB;
    --header-logo-text: #F9FAF8;
}



/* fonts */
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: var(--header-logo-text);
    font-family: 'Roboto', sans-serif;
}

.hero-secondary-text {
    font-size: 18px;
    color: var(--gray);
    font-family: 'Roboto', sans-serif;;
}

.header-logo-text {
    font-size: 24px;
    color: var(--header-logo-text);
    font-family: 'Roboto', sans-serif;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
}
/* fonts end */

body {
    margin: 0px;
}

/* header section*/
.header {
    display: flex;
    background-color: var(--dark-blue);
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}

.header a {
    text-decoration: none;
    font-weight: 300;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}
/* header section end*/

/* article section 2 */
.section-two{
    justify-content: space-around;
    text-align: center;
}

.section-two-title{
    font-size: 36px;
    font-weight: 800;
    color: var(--dark-blue);
}

.section-two-images{
    text-align: center;
    display: flex;
    justify-content: center;
}

.section-two-images img{
    width: 75px;
    height: 75px;
    border: 2px solid var(--light-blue);
    object-fit: cover;
    border-radius: 10%;
 
}
/* article section 2 end */

/* footer section*/
.footer-container {
    display: flex;
    background-color: var(--dark-blue);
    font-size: 12px;
    color: var(--gray);
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* footer section end*/

section:first-of-type {
    background-color: var(--dark-blue);
    padding: 100px;
    display: flex;
}

section:first-of-type img {
    width: 100%;
}

section:first-of-type > * {
    flex: 1;
}

.button {
    background-color: var(--light-blue);
    padding: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px 25px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button > a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}