:root {
    --light-blue: #3882F6;
    --dark-blue: #1F2937;
    --grey: #E5E7EB;
    --white: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey);
    font-family: 'Roboto', sans-serif;;
}

.header-logo-text {
    font-size: 24px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

.section-two{
    text-align: center;
}

.section-two-title{
    font-size: 36px;
    font-weight: 800;
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
}

.section-two-images{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
    justify-content: center
}

.section-two-images img{
    width: 200px;
    height: 200px;
    border: 2px solid var(--light-blue);
    object-fit: cover;
    border-radius: 10%;
 
}

.section-4 {
    background-color: var(--light-blue);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}


.signup-text{
    color: var(--grey); 
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px
}

.action-text{
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
}


.section-one {
    background-color: var(--dark-blue);
    padding: 100px;
    display: flex;
    align-items: center;
}

.section-one figure {
    height: 250px !important;
    position: relative;
}   

.section-one figure div {
    /* position: absolute; */
    height: 100%;
}

.section-one img {
    height: 100p;
    /* height: 20vw; */
}

.section-one > * {
    flex: 1;
}

.button {
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    width: 100px;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.button1 {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.button2 {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 2px solid white;
    display: inline-block;
    font-weight: bold;
}


.footer-container {
    display: flex;
    background-color: var(--dark-blue);
    font-size: 12px;
    color: var(--grey);
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



@media screen 
and (min-device-width : 481px) 
and (max-device-width : 800px) { 
    .section-one {
        padding: 50px;
    }

    .section-two .section-two-images img {
        width: 150px;
        height: 150px;
    } 

    .section-two .section-two-images {
        max-width: 100%;
    }

    .section-one {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-one figure {
        width: 100%;
    }

    .section-one img {
        width: 100%;
        height: auto;
    }
}

@media screen 
and (max-device-width : 480px) {
    
    .section-one {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .section-one figure {
        width: 100%;
    }

    .section-one img {
        width: 100%;
        height: auto;
    }
}